@page
@model PslibUrlShortener.Areas.Links.Pages.CreateModel
@{
    ViewData["Title"] = "Nový odkaz";
    var breadcrumbs = new List<(string, string?)> {
        ("Odkazy", Url.Page("Index", new { area = "Links" })),
        ("Nový", null)
    };
}
<partial name="/Pages/Shared/_Breadcrumbs.cshtml" model="breadcrumbs" />

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}