@page
@model PslibUrlShortener.Areas.Links.Pages.IndexModel
@{
    ViewData["Title"] = "Moje odkazy";

    var breadcrumbs = new List<(string, string?)> {
        ("Odkazy", null)
    };
}

<partial name="/Pages/Shared/_Breadcrumbs.cshtml" model="breadcrumbs" />

<h1>@ViewData["Title"]</h1>

<div class="d-flex flex-wrap align-items-end justify-content-between gap-2 mb-3">
    <div class="btn-group">
        <a asp-area="Links" asp-page="Create" class="btn btn-primary">Nový odkaz</a>
    </div>


</div>