@page
@model PslibUrlShortener.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Administrace";
    var breadcrumbs = new List<(string, string?)> {
        ("Administrace", null)
    };
}

<partial name="/Pages/Shared/_Breadcrumbs.cshtml" model="breadcrumbs" />

<h1 class="mb-4">@ViewData["Title"]</h1>

<div>
    <a asp-page="Links/Index">Odkazy</a>
</div>
